<h1>Register</h1>

<%= form_for @user, html: {id: "registration_form"} do |f| %>

  <div class = "row">
    <div class = "small-10 medium-3 columns">
      <%= f.label :username %>
      <%= f.text_field :username %>

  <div class = "row">
    <div class = "small-10 medium-3 columns">
      <%= f.label :email, class: "small-10 medium-3 columns"  %>
      <%= f.email_field :email, {class: "small-10 medium-3 columns"} %>
    </div>
  </div>

  <div class = "row">
    <div class = "small-10 medium-3 columns">
      <%= f.label :password %>
      <%= f.password_field :password, {class: "small-10 medium-3 columns"} %>
    </div>
  </div>

  <div class = "row">
    <div class='small-10 medium-3 columns'>
      <%= f.label :avatar %>
      <%= f.file_field :avatar, {class: "small-10 medium-3 columns"} %>
    </div>
  </div>
  <div class = "row">
    <div class='small-10 medium-3 columns'>
      <%= f.submit "register", {class: "button radius"} %>
    </div>
  </div>

<% end %>
