<div class = "row">
  <div class = "small-centered columns ">
    <a class='button small expand radius small-12 ' href="#">****<%= name %> <%= breed %> - <%= distanceTraveled %> miles - <%= distanceScore %> pts </a>
  </div>
  <div class = "dog-details" style = "display:none">
    HELLO PUPPIES
    <%= name %> - <%= breed %> - <%= distanceTraveled %> - <%= distanceScore%>
  </div>
</div>
