<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.34.min.js"></script>
<% s3.getObject({Bucket: 'terriertory', Key: 'AKIAIR7ATUOM3FV5GDDQ'}).on('success', function(response) {
  console.log("Key was", response.request.params.Key);
}).send(); %>

<div class = "row">
  <div class = "small-centered columns ">
    <a class='button small expand radius small-12 Primary'><%= username %> - <%= distanceTraveled %> miles - <%= distanceScore %> pts </a>
  </div>
  <div class = "neighbor-details" style = "display:none">
    HELLO NEIGHBOR !
    <%= username %>
    <%= "avatar file name!" + avatar_file_name   %>
  </div>
</div>
