
setup sdk
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.34.min.js"></script>

login
<script> AWS.config.update({accessKeyId: 'AKIAIR7ATUOM3FV5GDDQ', secretAccessKey: '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'}); %>

<script type="text/javascript">
  var bucket = new AWS.S3({params: {Bucket: 'myBucket'}});
  bucket.listObjects(function (err, data) {
    if (err) {
      document.getElementById('status').innerHTML =
        'Could not load objects from S3';
    } else {
      document.getElementById('status').innerHTML =
        'Loaded ' + data.Contents.length + ' items from S3';
      for (var i = 0; i < data.Contents.length; i++) {
        document.getElementById('objects').innerHTML +=
          '<li>' + data.Contents[i].Key + '</li>';
      }
    }
  });
</script>




<div class = "row">
  <div class = "small-centered columns ">
    <a class='button small expand radius small-12 Primary'><%= username %> - <%= distanceTraveled %> miles - <%= distanceScore %> pts </a>
  </div>
  <div class = "neighbor-details" style = "display:none">
    HELLO NEIGHBOR !
    <%= username %>
    <%= "avatar file name!" + avatar_file_name   %>
  </div>
</div>
